<h2>Leaderboard</h2>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Matches</th>
      <th scope="col"># of Wins</th>
      <th scope="col">Avg Place</th>
      <th scope="col">Points</th>
      <th scope="col">Elims</th>
      <th scope="col">Avg Elims</th>
    </tr>
  </thead>
  <tbody>
    <% @players_data.each do |stats| %>
      <tr>
        <th scope="row"><%= stats[:name] %></th>
        <td><%= stats[:matches] %></td>
        <td><%= stats[:wins] %></td>
        <td><%= stats[:avg_place] %></td>
        <td><%= stats[:points] %></td>
        <td><%= stats[:total_elim] %></td>
        <td><%= stats[:avg_elim] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_links do %>
  <a class="header-link" href="/players">Players List</a>
<% end %>