<h2>Stats for <%= @player_name %></h2>


<h3>Overall Stats</h3>
<table id="overall">
  <thead>
    <tr>
      <th scope="col">Matches Played:</th>
      <th scope="col"># of Wins:</th>
      <th scope="col">Avg Place:</th>
      <th scope="col">Total Points:</th>
      <th scope="col">Total Elims:</th>
      <th scope="col">Avg Elims:</th>
    </tr>
  </thead>
  <tbody>
    <% @overall_stats.each do |stats| %>
      <tr>
        <td><%= stats[:matches] %></td>
        <td><%= stats[:wins] %></td>
        <td><%= stats[:avg_place] %></td>
        <td><%= stats[:points] %></td>
        <td><%= stats[:total_elim] %></td>
        <td><%= stats[:avg_elim] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Match Stats</h3>
<table id="match">
  <thead>
    <tr>
      <th scope="col">Match Number</th>
      <th scope="col">Placement</th>
      <th scope="col">Showdown Points</th>
      <th scope="col">Eliminations</th>
    </tr>
  </thead>
  <tbody>
    <% @match_stats.each_with_index do |match, ind| %>
      <tr>
        <th scope="row"><%= (ind + 1) %></th>
        <td><%= match[:place] %></td>
        <td><%= match[:points] %></td>
        <td><%= match[:elims] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_links do %>
  <a class="header-link add" href="/players/<%= @player_id %>/add_match">Add Match Data</a>
<% end %>

<% content_for :header_links do %>
  <a class="header-link" href="/players">Players List</a>
<% end %>

<% content_for :header_links do %>
  <a class="header-link" href="/players/leaderboard">Leaderboard</a>
<% end %>